.menu {
    width: 150px;
    height: 500px;
    background:grey;
    float: left;
    overflow:scroll;
    padding-top: 0.1px;
}
.content {
    height: 250px;
    background:grey;
    margin-bottom: 2px;
    background-image: url("navigation.c8d26ef6.png");
    background-position: 4px 275px;
    padding-top: 0.1px;
}
.heder {
    background:grey;
    clear: left;
}
.item {

    width: 100px;
    background: green;
    color: white;
    overflow: auto;
}
