.menu {
    height: 504px;
    width:15em;
    background:ghostwhite;
    padding-top: 0.4em;
   float: left;
}
.content_1 {
    height: 250px;
   background-color: navajowhite;
    padding-top: 0.2em;
    margin-bottom: 0.2em;
}
.content_2 {
    height: 250px;
    background: honeydew;
    padding-top: 0.2em;
    margin-bottom: 0.2em;
}
.footer {
    background:greenyellow;
   clear: both;
}
img {
    float: right;
}

